<footer class="box-footer footer">
  <div class="container">
    <div class="pull-right hidden-xs">
      Powered by Tinglado <b>ERP</b>
    </div>
    <strong>Copyright © <%= Date.today.year %> Tinglado</strong> All rights
    reserved.
  </div>
  <!-- /.container -->
</footer>