<div id="flash_message">
  <% flash.each do |key, value| %>
    <% if value.is_a? String %>
      <div class="modal-content">
        <div class="modal-header no-border <%= flash_class key %>">
          <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"><i class="fa fa-times-circle"></i></span>
          </button>
          <h4 class="modal-title text-center"><%= value %></h4>
        </div>
      </div>
    <%end%>
  <% end %>
</div>