<style>
  .content-wrapper {
    background: url(<%= asset_path 'home.png' %>);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
  }


  blockquote{
    display: inline-block;
  }
</style>

<div></div>
<div align="center">
  <blockquote>
    The grass is not greener on the other side, it's greener where you water them.
  </blockquote>
  <br>
  <h3>Hello, this is an example of Authentication and dynamic authorization.</h3>
  <br>
  <h4>
    source code and more examples at <a href="https://github.com/ashish979" target="_blank">https://github.com/ashish979</a><br><br>
    find more about me on linkedin <a href="https://www.linkedin.com/in/ashish979" target="_blank">https://www.linkedin.com/in/ashish979</a>
  </h4>
</div>
