# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 72fc195d0cd0dd644b9e1d48627e913c917b831600b5be5e0aeff979454ae8a49e06223318e71073f53a74ceb4de75172d6c93ddac3e6db92eec3e9cb7624735
  app_host: 'localhost:3000'
  smtp_host: 'smtp.gmail.com'
  smtp_port: '587'
  sender_email: 'sample@gmail.com'
  sender_password: 'password'

testing:
  secret_key_base: 72fc195d0cd0dd644b9e1d48627e913c917b831600b5be5e0aeff979454ae8a49e06223318e71073f53a74ceb4de75172d6c93ddac3e6db92eec3e9cb7624735

test:
  secret_key_base: ba420e7c7923a0794608509c5b39dcc29df71057b7686e1cec7e6fa9fea51ca204413751baa5a293f64d81fea0b2c0fdd176c29132d189b076cb036d91241b2d

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
