.login-box{
  width: 500px;
}

.btn-x1{
  width: 300px;
}

.margin-r-40{
  margin-right: 40px;
}

.margin-l-40{
  margin-left: 40px;
}

.error_group{
  padding: 0px 12px;
  border-radius: 4px;
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 15px;
  background-color: #d9534f;
  border-color: #d43f3a;
}

legend.scheduler-border {
  width:inherit; /* Or auto */
  padding:0 10px; /* To give a bit of padding on the left and right */
  border-bottom: none;
  margin-bottom: 0;
}

fieldset.scheduler-border {
  border: 1px groove #ddd !important;
  padding: 0 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
  -webkit-box-shadow:  0px 0px 0px 0px #000;
  box-shadow:  0px 0px 0px 0px #000;
}

.checkbox + .checkbox{
  margin-top: 10px;
}

.mandatory{
  color:red;
}

.red-background{
  background-color: #ff5e4e;
  color: white;
  a{
    color: white;
  }
}


.red-background:hover{
  background-color: inherit;
  color: inherit;
  a{
    color: inherit;
  }
}
