<p>Hello <%= @resource.email %>!</p>

<p>Please change your password by clicking the link below</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>After resetting password, you will be able to login to your account</p>

